
table {
    margin: auto;
}

.level {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.col {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.col.active {
    background-color: blue;
}

.col.user {
    background-color: green;
}

.col.comp {
    background-color: red;
}



